@import '../globalVariables.scss';

.categories {
    width: 30%;
    order: -1;
    background: black;
    @include center();

    &__list {
        width: 80%;
        display: grid;
        place-items: center;
        list-style-type: none;

        & li {            
            @include center();
            width: 90%;
            height: 50px;
            z-index: 0;


            & button {
                z-index: 1;
                width: 100%;
                height: 100%;
                border: none;
                border-bottom: 1px dotted gray;
                background: $color;
                cursor: pointer;

                &.active {
                    border: 3px solid violet;
                }
            }
        }

    }

    @include mq(large) {
        width: 30%;

        &__list {
            width: 100%;

            & li {
                width: 100%;
            }
        }
    };

    @include mq(medium) {
        order: 1;
        width: 100%;

        &__list {
            width: 100%;
            margin: 20px 0;
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            grid-auto-rows: 100px;
            
            & li {
                width: 100%;
                height: 100%;
                border: 1px solid $black;

                & button {

                    border: none;

                }
            }
        }
    }

    @include mq(mobile) {

        &__list {
            grid-template-columns: repeat(3, minmax(80px, 1fr));
        }
    }

}