$bg-color: rgb(224, 219, 219);
$black: rgb(0,0,0);
$color: #e0dbdb;
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
};
$yellow: #fffb73;

.products {
    @include center();
    flex-direction: column;
    &__header {
        font-size: 48px;
        color: $black;
        text-align: center;

    }

    &__container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 25px;
        background: white;
        
    }

    &__product {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__img {
        display: block;
        width: 90%;
    }

    &__desc {
        font-size: 12px;
        width: 90%;
        text-align: justify;

    }

    &__name {
        font-size: 24px;
    }

    &__button {
        padding: 10px 20px;
        background: yellow;
        border-radius: 10px;
        border: 1px solid black;
        cursor: pointer;
    }

    &__price {
        margin:10px 0;
        font-size: 24px;
        color: red;
        font-weight: bold
    }

    &__itemsWrapper {
        text-align: center;
        margin-top: auto;
        margin-bottom: 10px;
    }
}