@import '../globalVariables.scss';

.products {
    width: 1600px;
    @include center();
    flex-direction: column;
    &__header {
        font-size: 48px;
        color: $black;
        text-align: center;

    }

    &__container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 25px;
        background: white;
        
    }

    &__product {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__img {
        display: block;
        width: 90%;
    }

    &__desc {
        font-size: 12px;
        width: 90%;
        text-align: justify;

    }

    &__name {
        font-size: 24px;
    }

    &__button {
        overflow: hidden;
        padding: 20px 30px;
        background: $black;
        border: 1px solid $black;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 100;
        position: relative;
        text-decoration: none;
        transition: .2s transform ease-in-out;
        will-change: transform;
        z-index: 0;

        &::after {
            background: $yellow;
            border-radius: 10px;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-100%, 0) rotate(10deg);
            transform-origin: top left;
            transition: .2s transform ease-out;
            will-change: transform;
            z-index: -1;

        }

        &:hover::after {
            transform: translate(0,0);
        }

        &:hover {
            border: 1px solid transparent;
            transform: scale(1.05);
            color: $bg-color;
            will-change: transform;
        }
    }

    &__price {
        margin:10px 0;
        font-size: 24px;
        color: $yellow;
        font-weight: bold;
    }

    &__itemsWrapper {
        text-align: center;
        margin-top: auto;
        margin-bottom: 10px;
    }

    @include mq(large) {
        width: 1000px;
    }

    @include mq(medium) {
        width: 100%;
    }
}