@import '../globalVariables.scss';




.popScreen {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    right: 0;
    width: 20%;
    height: 800px;
    border: 1px solid $black;
    background: $bg-color;
    border-top: none;
    z-index: 2;
    overflow-y: auto;

    &__item {
        display: flex;
        border-bottom: 1px dotted gray;
        margin: 5px;
        padding: 5px 10px;
    }
    
    &__item--rightSide {
        width: 100%;
        text-align: center;
        color: red;
    }

    &__basketBtnContainer {
        @include center();

    }

    &__confirmBtn {
        display: none;
        padding: 10px;
        background: red;
        color: white;
        border: none;
        border-radius: 10px;

        
    }

    &__resetBtn {
        display: none;
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        background: white;
    }

    @include mq(medium) {
        width: 100%;
        height: 100%;
    }
}

