$bg-color: white;
$black: rgb(0,0,0);
$color: white;
$yellow: #fde066;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
};


$breakpoints: (
    mobile: '(min-width: 320px)',
    tablet: '(min-width: 481px) and (max-width: 768px)',
    medium: '(min-width: 769px) and (max-width: 1024px)',
    large: '(min-width: 1025px) and (max-width: 1600px)',
);

@mixin mq($breakpoint) { //media queries
    $size: map-get($breakpoints, $breakpoint);
    @if($size) {
        @media #{$size} {
            @content;
        }
    }
    @else {
        @error '"#{$breakpoint}" - This resolution doesnt match to anything';
    }
}