$bg-color: rgb(224, 219, 219);
$black: rgb(0,0,0);
$color: #e0dbdb;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-color;
    color: $color;
}
    
.menu {
    height: 80px;
    background: lighten($black, 0%);
    display: grid;
    grid-template-columns: 75px minmax(200px, 1fr) 75px;

    &__logo {
        width: 75px;
    }

    &__search {
        @include center;
    }

    &__input {
        width: 50%;
        background: $black;
        color: $color;
        border: 2px solid lighten($black, 10%);
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        &:focus {
            outline: none;
        }
    }

    &__button {
        padding: 10px;
        background: $color;
        border: 2px solid lighten($black, 10%);
        border-left: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        
        &:hover {
            background: darken($color, 10%);
        }
    }

    &__basket {
        @include center;
        
        & button {
            font-size: 24px;
            color: $color;
            border: none;
            background: none;
        }
    }
}



footer {
    background: $black;
}



